<h1>Formulário</h1>

<form #userForm="ngForm" (ngSubmit)="saveData(userForm)">
  <label for="palavra">Palavra:</label>
  <input
    type="text"
    id="palavra"
    name="palavra"
    required
    [(ngModel)]="palavra.palavra"
    #name="ngModel"
  />

  <label for="significado">Significado:</label>
  <input
    type="text"
    id="significado"
    name="significado"
    required
    [(ngModel)]="palavra.significado"
    #name="ngModel"
  />

  <input type="submit" value="Salvar" />
</form>

<div *ngIf="palavras.length > 0">
  <table>
    <thead>
      <tr>
        <th>Palavra</th>
        <th>Significado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let plv of palavras">
        <td>{{ plv.palavra }}</td>
        <td>{{ plv.significado }}</td>
      </tr>
    </tbody>
  </table>
</div>
